body {
  background-color: #282c34;
  color: black;
}



.App {
  background: whitesmoke;
  font-family: sans-serif;
    max-width: 700px;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;

}

.weather-Search {
  max-width: 700px;
  padding: 30px;
  border-radius: 10px;
  margin-top: 40px;
}

footer{
  font-size: 16px;
}